<%= form_with(model: customer_event, local: true) do |form| %>
  <% if customer_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_event.errors.count, "error") %> prohibited this customer_event from being saved:</h2>

      <ul>
        <% customer_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :event_id, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.collection_select(:event_id, Event.all, :id, :name, :prompt => 'Select', class: "form-control")%>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :booked_date, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.datetime_select :booked_date, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :no_of_ticket, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.number_field :no_of_ticket, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :payment_mode, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.select :payment_mode, CustomerEvent.payment_modes.keys.map { |w| [w.humanize, w] }, :prompt => 'Select', class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
