<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Customer Events</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Customer</th>
        <th>Booked date</th>
        <th>No of ticket</th>
        <th>Payment mode</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @customer_events.each do |customer_event| %>
        <tr>
          <td><%= customer_event.event.name %></td>
          <td><%= customer_event.customer.present.name %></td>
          <td><%= customer_event.booked_date.strftime("%d-%b-%Y") %></td>
          <td><%= customer_event.no_of_ticket %></td>
          <td><%= customer_event.payment_mode %></td>
          <td><%= link_to 'Show', customer_event %></td>
          <td><%= link_to 'Edit', edit_customer_event_path(customer_event) %></td>
          <td><%= link_to 'Destroy', customer_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Customer Event', new_customer_event_path, class:"btn btn-primary" %>
</div>
