<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @customer_event.event.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @customer_event.customer.present.name %>
</p>

<p>
  <strong>Booked date:</strong>
  <%= @customer_event.booked_date.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>No of ticket:</strong>
  <%= @customer_event.no_of_ticket %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @customer_event.payment_mode %>
</p>

<%= link_to 'Edit', edit_customer_event_path(@customer_event), class: "btn btn-primary" %> |
<%= link_to 'Back', customer_events_path, class: "btn btn-info" %>
