<%= form_with(model: event_category, local: true) do |form| %>
  <% if event_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_category.errors.count, "error") %> prohibited this event_category from being saved:</h2>

      <ul>
        <% event_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :name, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
