<div class="container">
	<h1>Editing Event Category</h1>

	<%= render 'form', event_category: @event_category %>

	<%= link_to 'Show', @event_category, class: "btn-primary btn" %> |
	<%= link_to 'Back', event_categories_path, class: "btn-info btn" %>
</div>
