<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Event Categories</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @event_categories.each do |event_category| %>
        <tr>
          <td><%= event_category.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
