<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @event_category.name %>
	</p>

	<%= link_to 'Edit', edit_event_category_path(@event_category), class: "btn btn-primary" %> |
	<%= link_to 'Back', event_categories_path, class: "btn btn-info" %>
</div>
