<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :name, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :event_category_id, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.collection_select(:event_category_id, EventCategory.all, :id, :name, :prompt => 'Select', class: "form-control")%>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :event_date, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.datetime_select :event_date, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :event_time, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.time_select :event_time, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :event_price, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :event_price, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
