<div class="container">
	<h1>Editing Event</h1>

	<%= render 'form', event: @event %>

	<%= link_to 'Show', @event, class: "btn btn-primary" %> |
	<%= link_to 'Back', events_path, class: "btn" %>
</div>
