<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Events</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Event category</th>
        <th>Event date</th>
        <th>Event time</th>
        <th>Event price</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= EventCategory.find(event.event_category_id).name %></td>
          <td><%= event.event_date.strftime("%d-%b-%Y") %></td>
          <td><%= event.event_time.strftime("%H:%M") %></td>
          <td><%= number_to_currency(event.event_price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>