<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Event category:</strong>
  <%= EventCategory.find(@event.event_category_id).name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @event.event_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Event price:</strong>
  <%= number_to_currency(@event.event_price) %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class:"btn btn-primary" %> |
<%= link_to 'Back', events_path, class:"btn btn-default" %>
