<%= form_with(model: customer, local: true, html: {class: 'customer_form'}) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :email, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :email, class: "form-control", readonly: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
    <%= form.label :first_name, class: "form_label_custom" %>
  </div>
  <div class="form-group">
    <%= form.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
    <%= form.label :middle_name, class: "form_label_custom" %>
  </div>
  <div class="form-group">
    <%= form.text_field :middle_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
    <%= form.label :last_name, class: "form_label_custom" %>
  </div>
  <div class="form-group">
    <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
    <%= form.label :age, class: "form_label_custom" %>
  </div>
  <div class="form-group">
    <%= form.text_field :age, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
    <%= form.label :date_of_birth, class: "form_label_custom" %>
  </div>
  <div class="form-group">
    <%= form.text_field :date_of_birth, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
