<div class="container">
  <div class="row">
    <h2>Editing Customer</h2>
  </div>

  <%= render 'form', customer: @customer %>

  <div class="row">
    <div class="col-1 form-group">
        <%= link_to 'Show', @customer, class: "btn btn-primary" %>
    </div>
  </div>

</div>
