<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h2>Customer profile</h2>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Email:</strong>
    </div>
    <div class="form-group">
      <%= @customer.email %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>First name:</strong>
    </div>
    <div class="form-group">
      <%= @customer.first_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Middle name:</strong>
    </div>
    <div class="form-group">
      <%= @customer.middle_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Last name:</strong>
    </div>
    <div class="form-group">
      <%= @customer.last_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Age:</strong>
    </div>
    <div class="form-group">
      <%= @customer.age %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Date of birth:</strong>
    </div>
    <div class="form-group">
      <%= @customer.date_of_birth %>
    </div>
  </div>

  <div class="row">
    <div class="col-1 form-group">
      <%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-primary" %>
    </div>
  </div>
</div>
