<div class="login-page">
  <div class="form">
    <h2>Soho events</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class=" ">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class=" ">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class=" ">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class=" ">
        <%= f.submit "Log in", class: "login_but" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to "Admin Login", admin_user_session_path %>
  </div>
</div>
