<%= form_with(model: customer_personal_info, local: true, html: {class: 'customer_form'}) do |form| %>
  <% if customer_personal_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_personal_info.errors.count, "error") %> prohibited this customer_personal_info from being saved:</h2>

      <ul>
        <% customer_personal_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :gender, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :gender, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :nationality, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :nationality, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :address_1, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :address_1, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :address_2, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :address_2, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :city, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :city, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :state, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :state, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :marital_status, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :marital_status, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 form-group">
      <%= form.label :qualification, class: "form_label_custom" %>
    </div>
    <div class="form-group">
      <%= form.text_field :qualification, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
