<div class="container">
  <div class="row">
    <h2>Editing Customer Personal Info</h2>
  </div>

<%= render 'form', customer_personal_info: @customer_personal_info %>

  <div class="row">
    <div class="col-1 form-group">
      <%= link_to 'Show', @customer_personal_info, class: "btn btn-primary" %>
    </div>
  </div>
</div>
