<p id="notice"><%= notice %></p>

<h1>Customer Personal Infos</h1>

<table>
  <thead>
    <tr>
      <th>Gender</th>
      <th>Nationality</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Marital status</th>
      <th>Qualification</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_personal_infos.each do |customer_personal_info| %>
      <tr>
        <td><%= customer_personal_info.gender %></td>
        <td><%= customer_personal_info.nationality %></td>
        <td><%= customer_personal_info.address_1 %></td>
        <td><%= customer_personal_info.address_2 %></td>
        <td><%= customer_personal_info.city %></td>
        <td><%= customer_personal_info.state %></td>
        <td><%= customer_personal_info.marital_status %></td>
        <td><%= customer_personal_info.qualification %></td>
        <td><%= customer_personal_info.customer_id %></td>
        <td><%= link_to 'Show', customer_personal_info %></td>
        <td><%= link_to 'Edit', edit_customer_personal_info_path(customer_personal_info) %></td>
        <td><%= link_to 'Destroy', customer_personal_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Personal Info', new_customer_personal_info_path %>
