<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h2>Customer personal info</h2>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Gender:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.gender %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Nationality:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.nationality %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Address 1:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.address_1 %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Address 2:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.address_2 %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>City:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.city %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>State:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.state %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Marital status:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.marital_status %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Qualification:</strong>
    </div>
    <div class="form-group">
      <%= @customer_personal_info.qualification %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 form-group">
      <strong>Customer:</strong>
    </div>
    <div class="form-group">
      <%= get_customer_name(@customer_personal_info.customer_id) %>
    </div>
  </div>

  <div class="row">
    <div class="col-1 form-group">
      <%= link_to 'Edit', edit_customer_personal_info_path(@customer_personal_info), class: "btn btn-primary" %>
    </div>
  </div>
</div>
