        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Soho Events</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Customer Event reporting</p>
                <li class="active">
                    <a href="/">Dashboard</a>
                </li>
                <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customer</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                      <a href="/customers/<%=current_customer.id%>">Profile</a>
                    </li>
                    <li>
                      <%= link_to "Personal info", get_customer_info_url %>
                    </li>
                    <li>
                      <a href="#">Hobby</a>
                    </li>
                    <li>
                      <a href="#">Family Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Events</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li>
                      <a href="/customer_events">CustomerEvents</a>
                    </li>
                    <li>
                      <%= link_to "All Events", events_path %>
                    </li>
                    <li>
                      <%= link_to "All Event Category", event_categories_path %>
                    </li>
                  </ul>
                </li>
            </ul>
        </nav>
