<!DOCTYPE html>
<html>
  <head>
    <title>SohoAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


  </head>

  <body>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <div class="wrapper">
      <!-- Left Sidebar Navigation -->
      <% if current_customer %>
        <%= render partial: "layouts/partials/leftsidebar" %>
      <div id="content">
        <p class="navbar-text float-right">
            Logged in as <strong><%= current_customer.email %></strong>.
    <!--         <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> | -->
            <%= link_to "Logout", destroy_customer_session_path, method: :get, :class => 'navbar-link'  %>
        </p>
          <%= yield %>
      </div>
      <% else %>
        <%= yield%>
        <% end %>
    </div>
  </body>
</html>
